:root {
    .home-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .home-fast-action {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 2rem 0;
        }

        @media (min-width: 600px) {
            .home-fast-action {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}