:root {
    --primary-background: #1976d2;
    --primary-title: #1976d2;
    --primary-color: #ffffff;
    --primary-hover: #0e5092;
    --primary-active: #0b2a48;

    --secondary-background: rgb(215, 123, 57);
    --secondary-background-hover: rgb(114, 74, 44);
    --secondary-background-active: rgb(179, 125, 25);

    --secondary-hover: #dd8c0a;
    --secondary-active: #6c3a00;


    --secondary-title: rgb(0, 58, 120);
    --secondary-active: #006c1d;

    --whatsapp-color: #2f8e03;
    --delete-color: rgb(199, 21, 18);

    --cancel-color: rgb(199, 94, 18);

    --logo-color: rgb(199, 94, 18);


    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    h2, .title {
        color: var(--primary-title);
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem;
    }

    h3, .subTitle {
        color: var(--primary-title);
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem;
    }

    .textInfo {
        color: var( --primary-title);
        font-size: 1rem;
        font-weight: 500;
        margin-left: 1rem; 
    }

    .subTextInfo {
        color: var(--secondary-title);
    }

    .title-secondary {
        color: var(--primary-title);
        margin-bottom: 1rem;
    }

    .data-text {
        color: var(--secondary-title);
    }

    .dialog {
        background-color: #ffffff;
        min-height: 300px;
    }

    .modalBtns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
        position: absolute;
        top: 1;
        right: 0;
        margin: 0 1rem;

        .title-and-editBtn {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .editBtn {
                background-color: var(--secondary-background);
                color: var(--primary-color);

                &:hover {
                    background-color: var(--secondary-background-hover);
                }
                &:active {
                    background-color: var(--secondary-background-active);
                }
            }
        }

        .whatzapp {
            .whatzappBtn {
                background-color: var(--whatsapp-color);
                color: var(--primary-color);
            }
        }

        .delete {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .deleteBtn {
                background-color: var( --delete-color);
                color: var(--primary-color);
            }
        }
    }

    .onClick {
        cursor: pointer;
            &:hover {
                color: var(--secondary-hover);
            }
            &:active {
                color: var(--secondary-active);
            }
    }

    @media (min-width: 600px) {
        .title {
            font-size: 2.5rem;
            padding: 0;
        }
    }
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
       color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
